*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

input[type="text"],
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  max-width: 1140px;
  max-height: 534px;
  margin: 133px 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  max-width: 711px;
  max-height: 386px;
}

video {
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 711px;
  max-height: 54px;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

input[type="text"] {
  min-width: 225px;
  min-height: 27px;
  border: inherit;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  background-color: inherit;
}

input[type="text"]:active {
  border: none;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

input[type="text"]:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  padding-bottom: 5px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-top: 1px;
  margin-left: 1px;
  outline: 1px solid #fff;
}

.search-form__pseudo-checkbox::before {
  content: "";
  display: inline-block;
  margin-left: 2px;
}

input[type="checkbox"]:active + .search-form__pseudo-checkbox::before {
  width: 15px;
  height: 15px;
  background-color: #fff;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::before {
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__pseudo-checkbox:focus {
  outline: none;
}

.search-form__pseudo-checkbox:focus-visible {
  outline: 1px solid #fff;
}

.content__details {
  display: flex;
  flex-direction: column;
  max-width: 399px;
  height: 534px;
}

.title {
  padding-bottom: 26px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 394px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.content__list-item {
  display: flex;
  flex-direction: column;
  min-width: 394px;
  max-height: 103px;
}

.content__list-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__list-item:active {
  text-decoration: none;
  background: #545050;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: #fff;
  text-decoration: none;
}

.content__card-link_current {
  background: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  max-width: 194px;
  max-height: 103px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: inherit;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}

button:active {
  text-decoration: none;
  background: #545050;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.more-button {
  width: 100%;
  min-height: 34px;
}

.search-form__submit-button {
  min-width: 194px;
  min-height: 34px;
}
